.login-container {
    margin-top: 120px;
    border-radius: 20px;
    padding: 0;
    border: 1px solid #3066BE;
}

.label-login {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-form {
    padding: 0 60px;
}

.login-form img {
    margin-right: 10px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 100%;
    height: 40px;
}

.form-field:focus {
    border: 1px solid #3066BE;
}

.login-button {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #3066BE;
    background-color: white;
    border: 1px solid #3066BE;
    border-radius: 4px;
    padding: 7px 49px;
    background: white;
    outline: none;
}

.login-button:hover {
    color: white;
    background-color: #3066BE;
    outline: none;
}

.login-button:focus {
    outline: none;
}

.login-button:link {
    text-decoration: none;
    outline: none;
}

.form-error {
    color: #FF0000;
    margin-left: 45px;
    font-size: 14px;
}

.new-user {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.new-user a {
    text-decoration: none;
    
}