.hide-input{
    display: none;
}
.dd-button{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #3066BE;
    border-radius: 4px;
    background: white;
    border: none;
}
.table-cards{
    margin-top: 50px;
}
.delete-button{
    border: none;
    background: none;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}
.delete-button:hover {
    color: #3066BE;
}
.form-group-new{
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}
.form-group-box{
    margin-top: 30px;
    display: block !important;
    font-size: 16px;
    font-weight: 700;
    color: #3066BE;
}
.form-group-box .form-field{
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid black;
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
}
.add-button{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #3066BE;
    background-color: white;
    border: 1px solid #3066BE;
    border-radius: 4px;
    padding: 7px 10px;
    background: white;
    outline: none;
}