.hide-input{
    display: none;
}
.dd-button{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #3066BE;
    border-radius: 4px;
    background: white;
    border: none;
}
.table-cards{
    margin-top: 50px;
}
.delete-button{
    border: none;
    background: none;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}
.delete-button:hover {
    color: #3066BE;
}