.nav {
    background-color: #3066BE;
}

.main-context {
    background-color: #E3F2FD;
    height: 100vh;
}

.nav-title {
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-top: 300px;
    text-align: center;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.30rem;
}

.navbar-left {
    display: block !important;
}

.navbar-left a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.navbar-left a:last-child {
    justify-content: end;
}

.navbar-left a:hover {
    color: white;
}

.navbar-left img {
    margin-left: 20px;
    margin-right: 10px;
}

.title-page {
    margin-top: 62px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-left: 39px;
}

.title-line {
    margin: 0;
    float: left;
    width: 20%;
    border: 1px solid #D81159;
}

.content-container {
    margin-top: 60px;
    margin-left: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 81vh;
    background-color: white;
}