.nav {
    background-color: #3066BE;
}

.main-context {
    background-color: #E3F2FD;
}

.nav-title {
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding-top: 300px;
    text-align: center;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.30rem;
    margin-bottom: 20px;
}

.navbar-left {
    display: block !important;
}

.navbar-left a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.navbar-left a:last-child {
    justify-content: end;
}

.navbar-left a:hover {
    color: white;
}


.navbar-left img {
    margin-left: 20px;
    margin-right: 10px;
}

.title-page {
    margin-top: 62px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-left: 39px;
}

.title-line {
    margin: 0;
    float: left;
    width: 15%;
    border: 1px solid #D81159;
}

.second-title-line{
    margin: 0;
    width: 100%;
    border: 1px solid #d3d3d3;
    margin-bottom: 30px;
}

.content-container {
    margin-top: 60px;
    margin-left: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    min-height: 785px;
}

.content-container-c {
    margin-top: 60px;
    margin-left: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #E3F2FD;
    min-height: 785px;
}

.table td, .table th {
    text-align: center;
}

th {
    color:  #3066BE;
    font-size: 15px;
    font-weight: 700;
}
td {
    font-weight: 600;
    color: #000000;
    font-size: 15px;
}

.link-option, .link-option-del {
    color: #000000;
    text-decoration: none !important;
}

.link-option {
    margin-right: 10px;
}

.link-option:hover {
    color: #3066BE;
}

.link-option-del:hover {
    color: #D81159;
}


/* revisar */

.padd-dash {
    padding: 20px 30px;
}

.p-text-title {
    font-weight: 600;
    color: #3066BE;
    font-size: 14px;
}

.p-text-value {
    font-weight: 600;
    color: #000000;
    font-size: 14px;
}

.flex-line {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.mrg-link {
    margin-right: 20px;
}

.user-details {
    padding: 15px 0 5px;
}

.access-card {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 6px;
}

.access-card .p-text-title {
    margin-right: 6px;
}

.user-card-list {
    list-style: none;
    padding: 0;
}

.user-card-list .card-item {
    margin-bottom: 15px;
}

.user-card-list .card-item:last-child {
    margin-bottom: 0;
}

.options-card {
    border-top: 1px solid #cccccc;
    padding-top: 6px;
}

.card-create-padding {
    padding-top: 100px;
}

.button-centralizer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}